body
    font-weight: 300

.site-footer
    font-size: var(--s)
    background: footerBackground
    color: footerColor
    padding: var(--unit) 0
    margin-top: var(--three-units)
    border-top: 1px dotted dark


////////////
// layout //
////////////


.grid
    grid(min-column-width: 400px, gap: var(--semi-unit))


////////////////
// typography //
////////////////

.s1
    padding-top: var(--unit)

.s1-header + .s1-main
    margin-top: var(--unit)

.s1 + .s1
    margin-top: var(--unit)

.s2 + .s2 
    margin-top: var(--semi-unit)

.s2-header + .s2-main
    margin-top: var(--semi-unit)

.h1
    font-family: heading-font
    color: heading-color
    font-size: var(--xxxl)
    @media big-mobile
        font-size: var(--xxxxl)
    @media big-heading
        font-size: var(--xxxxxxl)
    line-height: heading-line-height

.h2
    font-size: var(--l)
    color: heading-color

.h3
    text-transform: uppercase
    


///////////
// header
///////////

.mobile-page-header
    @media desktop-nav
        display: none
    font-family: heading-font
    text-transform: uppercase
    padding: var(--semi-unit) 0 
    border-bottom: 2px solid dark
    display: flex
    justify-content: space-between

.mobile-nav
    display: none
    position: fixed
    top: 0
    height: 100vh
    width: 100vw
    background: primary-color
    z-index: 10
    left: 0
    font-family heading-font
    color: white
    text-align: center
    ul
        stacked-list(border: none)
    li
        line-height: 1
        font-size: var(--xxxl)
    li:hover
        background: white
        color: primary-color
    .close
        margin: var(--two-units) 0 var(--unit) 0 
        stroke: white
        stroke-width: 6
        height: var(--unit)
        cursor: pointer

.open-nav
    cursor: pointer
    
.hamburger
    height: var(--two-units)
    fill: none
    stroke-width: 0.5
    stroke: dark
    cursor: pointer

.logo
    font-family: heading-font
    text-transform: uppercase
    margin-right: var(--unit)
    color: colors[0]

.desktop-page-header
    @extends .color-on-hover-links
    letter-spacing: 0.05em
    border-bottom: 2px solid dark
    text-transform: uppercase
    font-family: heading-font
    line-height: var(--unit)
    vertical-align: bottom 
    padding: var(--semi-unit) 0
    @media mobile-nav
        display: none
    
.desktop-nav
    display: inline
    ul
        display: inline
        hlist(sep: '•')

.page-heading
    margin-top: var(--three-units)
    margin-bottom: var(--two-units)

.page-title
    @extends .h1

.page-subtitle
    font-family: heading-font
    font-size: var(--l)

.poetic-short
    font-size: var(--xl)
    line-height: 1.3
    font-style: italic
    text-align: center

.performance-list
    stacked-list(border: 1px solid dark)

.performance-date
    word-spacing: -0.2em
    &::after
        content: ' / '
        margin-right: 0.5em

.performance-title
    display: inline
    font-size: var(--l)

.button
    font-family: body-font
    font-size: var(--m)
    background: inherit
    border: 1px solid dark
    border-radius: 0.2em
    padding: 0.2em 0.8em
    cursor: pointer
    &:hover
        background: dark
        color: light-background-color

///////////
// cards //
///////////

.card
    @extends .spaced-paragraphs
    
    padding: var(--semi-unit) var(--semi-unit)
    @media m
        padding: var(--unit)

    p+ul 
        margin-top: var(--semi-unit)

    .button-wrapper
        display: flex 
        padding-top: var(--unit)

.card-header + .card-main
    margin-top: var(--semi-unit)

.card-title
    font-size: var(--l)

.card-section + .card-section
    margin-top: var(--semi-unit)

.card-list
    vlist(spacing: 0.5em, border: 1px solid dark)

.card-images
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: var(--semi-unit)
    img
        max-height: none

.colored-cards
    .card
        &:nth-child(3n+1)
            background: colors[0]
        &:nth-child(3n+2)
            background: colors[1]
        &:nth-child(3n+3)
            background: colors[2]


//////////
// misc //
//////////



.page-intro
    max-width: text-width
    margin-bottom: var(--unit)
    @extend .spaced-paragraphs
    section+section
        margin-top: var(--unit)
    h2
        margin-bottom: var(--semi-unit)
        @extend .h2
    ul 
        arrow-list()
    ul+p
        margin-top: var(--semi-unit) 

.masonry-item
    margin-bottom: 33px
    @media (min-width: 500px)
        width: calc(0.5 * (100% - 33px))
    @media (min-width: 700px)
        width: calc(0.33333 * (100% - 2 * 33px))
    @media (min-width: 1200px)
        width: calc(0.25 * (100% - 3 * 33px))
    figcaption
        margin-top: var(--semi-unit)
        padding: 0.2em
        border-top: 2px solid dark
        border-bottom: @border-top
        font-family: heading-font
        font-size: var(--s)
        font-weight: 600