article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  color: inherit;
  outline: 0;
}
button,
select {
  text-transform: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}
:root {
  --scale-factor: 1.2;
  --line-height: 1.4;
  --font-size: 18px;
  --m: var(--font-size);
  --l: calc(var(--scale-factor) * var(--m));
  --xl: calc(var(--scale-factor) * var(--l));
  --xxl: calc(var(--scale-factor) * var(--xl));
  --xxxl: calc(var(--scale-factor) * var(--xxl));
  --xxxxl: calc(var(--scale-factor) * var(--xxxl));
  --xxxxxl: calc(var(--scale-factor) * var(--xxxxl));
  --xxxxxxl: calc(var(--scale-factor) * var(--xxxxxl));
  --xxxxxxxl: calc(var(--scale-factor) * var(--xxxxxxl));
  --s: calc(var(--m) / var(--scale-factor));
  --xs: calc(var(--s) / var(--scale-factor));
  --unit: calc(var(--line-height) * var(--font-size));
  --two-units: calc(2 * var(--unit));
  --three-units: calc(3 * var(--unit));
  --four-units: calc(4 * var(--unit));
  --five-units: calc(5 * var(--unit));
  --six-units: calc(6 * var(--unit));
  --seven-units: calc(7 * var(--unit));
  --semi-unit: calc(0.5 * var(--unit));
  --quarter-unit: calc(0.5 * var(--semi-unit));
  --line-height-2: 1.7;
  --font-size-2: 19px;
  --unit-2: calc(var(--line-height-2) * var(--font-size-2));
  --semi-unit-2: calc(0.5 * var(--unit-2));
  --two-units-2: calc(2 * var(--unit-2));
  --m-2: var(--font-size-2);
  --l-2: calc(var(--scale-factor) * var(--m-2));
  --xl-2: calc(var(--scale-factor) * var(--l-2));
  --xxl-2: calc(var(--scale-factor) * var(--xl-2));
  --xxxl-2: calc(var(--scale-factor) * var(--xxl-2));
  --xxxxl-2: calc(var(--scale-factor) * var(--xxxl-2));
}
@media (min-width: 800px) {
  :root {
    --font-size: 21px;
  }
}
@media (min-width: 800px) {
  :root {
    --font-size-2: 22px;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}
button,
select {
  text-transform: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  max-height: 100%;
}
dd {
  margin-inline-start: 0;
}
canvas,
img {
  vertical-align: middle;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
/* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
/* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
/* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}
body {
  min-height: 100vh;
  background: #fefefe;
  color: #404040;
  font-size: var(--m);
  font-family: Rubik;
  line-height: var(--line-height);
  text-rendering: geometricPrecision;
}
@font-face {
  font-family: 'Druk Text Web';
  src: url("/fonts/DrukText-Bold-Web.eot");
  src: url("/fonts/DrukText-Bold-Web.eot?#iefix") format('embedded-opentype'), url("/fonts/DrukText-Bold-Web.woff2") format('woff2'), url("/fonts/DrukText-Bold-Web.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Text Web';
  src: url("/fonts/DrukText-Medium-Web.woff2") format('woff2'), url("/fonts/DrukText-Medium-Web.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Text Web';
  src: url("/fonts/DrukText-MediumItalic-Web.woff2") format('woff2'), url("/fonts/DrukText-MediumItalic-Web.woff") format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
.center-wrapper {
  margin: 0 auto;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  max-width: 700px;
}
.fullwidth-wrapper {
  padding: 0 var(--unit);
}
@media (min-width: 1000px) {
  .fullwidth-wrapper {
    padding: 0 var(--four-units);
  }
}
.text-wrapper {
  max-width: max-text-width;
}
@media (min-width: 980px) {
  .textplus {
    display: flex;
  }
}
.textplus-text {
  margin: var(--unit) 0 0 0;
}
@media (min-width: 980px) {
  .textplus-text {
    margin: 0 var(--unit) 0 0;
  }
}
.textplus-plus {
  align-self: left;
}
@media (min-width: 980px) {
  .plustext {
    display: flex;
  }
}
.plustext-text {
  margin: var(--unit) 0 0 0;
}
@media (min-width: 980px) {
  .plustext-text {
    margin: 0 0 0 var(--unit);
  }
}
.plustext-plus {
  align-self: left;
}
.default-columns {
  columns: 200px;
  column-gap: var(--semi-unit);
}
.default-columns * {
  margin-bottom: var(--semi-unit);
}
.spaced-paragraphs p+p,
.card p+p,
.page-intro p+p {
  margin-top: var(--semi-unit);
}
.indented-paragraphs p+p {
  text-indent: var(--unit);
}
.arrow::before,
.arrow-links a::before {
  content: '\2192';
  margin-right: 0.3em;
  display: inline-block;
}
.color-links a {
  color: #05cdfe;
}
.underlined,
.underlined-links a {
  text-decoration: underline;
}
.underline-on-hover:hover,
.underline-on-hover-links a:hover {
  text-decoration: underline;
}
.color-on-hover-links a:hover,
.desktop-page-header a:hover {
  color: #05cdfe;
}
.default-list {
  list-style-type: disc;
  list-style-position: inside;
}
.default-list li + li {
  margin-top: var(--semi-unit);
}
.arrow-list {
  list-style: none;
}
.arrow-list li {
  display: flex;
}
.arrow-list li:before {
  content: '\2192 \a0';
}
.comma-list {
  list-style: none;
  margin: 0;
}
.comma-list li {
  display: inline;
}
.comma-list li:not(:last-child)::after {
  margin-left: 0;
  margin-right: 0;
  content: ', ';
}
.comma-list li:not(:first-child) {
  margin-left: 0;
}
.video-wrapper {
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  font-size: var(--s);
  background: inherit;
  color: footerColor;
  padding: var(--unit) 0;
  margin-top: var(--three-units);
  border-top: 1px dotted #404040;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-column-gap: var(--unit);
  grid-row-gap: var(--unit);
}
.s1 + .s1 {
  margin-top: var(--unit);
}
.s2 + .s2 {
  margin-top: var(--semi-unit);
}
.h1,
.page-title,
.text .text-title {
  font-weight: bold;
  font-family: Druk Text;
  font-size: var(--xxxl);
  line-height: 0.9;
  text-transform: uppercase;
}
@media (min-width: 375px) {
  .h1,
  .page-title,
  .text .text-title {
    font-size: var(--xxxxl);
  }
}
@media (min-width: 800px) {
  .h1,
  .page-title,
  .text .text-title {
    font-size: var(--xxxxxxl);
  }
}
.h2,
.page-intro h2 {
  font-weight: bold;
  font-size: var(--xl);
  font-family: Druk Text;
}
.h2 + p,
.page-intro h2 + p {
  margin-top: var(--quarter-unit);
}
.h2 + .grid,
.page-intro h2 + .grid {
  margin-top: var(--semi-unit);
}
.h2 + ul,
.page-intro h2 + ul {
  margin-top: var(--semi-unit);
}
.h2 + .s2,
.page-intro h2 + .s2 {
  margin-top: var(--semi-unit);
}
.h3 {
  font-size: var(--l);
  font-family: Druk Text;
}
.mobile-page-header {
  font-family: Druk Text;
  text-transform: uppercase;
  padding: var(--semi-unit) 0;
  border-bottom: 2px solid #404040;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .mobile-page-header {
    display: none;
  }
}
.mobile-nav {
  display: none;
  list-style: none;
  padding: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #05cdfe;
  z-index: 10;
  left: 0;
  font-family: Druk Text;
  color: #fff;
  text-align: center;
}
.mobile-nav li {
  padding: var(--semi-unit) 0;
  border-bottom: none;
}
.mobile-nav li:first-child {
  border-top: none;
}
.mobile-nav li {
  line-height: 1;
  font-size: var(--xxxl);
}
.mobile-nav li:hover {
  background: #fff;
  color: #05cdfe;
}
.mobile-nav .close {
  margin: var(--two-units) 0 var(--unit) 0;
  stroke: #fff;
  stroke-width: 6;
  height: var(--unit);
  cursor: pointer;
}
.open-nav {
  cursor: pointer;
}
.hamburger {
  height: var(--two-units);
  fill: none;
  stroke-width: 0.5;
  stroke: #404040;
  cursor: pointer;
}
.logo {
  font-family: Druk Text;
  text-transform: uppercase;
  margin-right: var(--unit);
  color: #05cdfe;
}
.desktop-page-header {
  letter-spacing: 0.05em;
  border-bottom: 2px solid #404040;
  text-transform: uppercase;
  font-family: Druk Text;
  line-height: var(--unit);
  vertical-align: bottom;
  padding: var(--semi-unit) 0;
}
@media (max-width: 900px) {
  .desktop-page-header {
    display: none;
  }
}
.desktop-nav {
  display: inline;
}
.desktop-nav ul {
  display: inline;
  list-style: none;
  margin: 0;
}
.desktop-nav ul li {
  display: inline;
}
.desktop-nav ul li:not(:last-child)::after {
  margin-left: 0.5em;
  margin-right: 0.5em;
  content: '•';
}
.desktop-nav ul li:not(:first-child) {
  margin-left: 0.5em;
}
.page-heading {
  margin-top: var(--three-units);
  margin-bottom: var(--two-units);
}
.page-subtitle {
  font-family: Druk Text;
  font-size: var(--l);
}
.poetic-short,
.text.listofshorts p {
  font-size: var(--xl);
  line-height: 1.3;
  font-style: italic;
  text-align: center;
}
.performance-list {
  list-style: none;
  padding: 0;
}
.performance-list li {
  padding: var(--semi-unit) 0;
  border-bottom: 1px solid #404040;
}
.performance-list li:first-child {
  border-top: 1px solid #404040;
}
.performance-date {
  word-spacing: -0.2em;
}
.performance-date::after {
  content: ' / ';
  margin-right: 0.5em;
}
.performance-title {
  display: inline;
  font-size: var(--l);
}
.button {
  font-family: Rubik;
  font-size: var(--m);
  background: inherit;
  border: 1px solid #404040;
  border-radius: 0.2em;
  padding: 0.2em 0.8em;
  cursor: pointer;
}
.button:hover {
  background: #404040;
  color: #f5f5f5;
}
.card {
  padding: var(--semi-unit) var(--semi-unit);
}
@media (min-width: 500px) {
  .card {
    padding: var(--unit);
  }
}
.card p+ul {
  margin-top: var(--semi-unit);
}
.card .button-wrapper {
  display: flex;
  padding-top: var(--unit);
}
.colored-cards .card:nth-child(3n+1) {
  background: #05cdfe;
}
.colored-cards .card:nth-child(3n+2) {
  background: #ed5083;
}
.colored-cards .card:nth-child(3n+3) {
  background: #08e498;
}
.card-title {
  margin-bottom: var(--unit);
  font-family: Druk Text;
  font-size: var(--xl);
}
.page-intro {
  max-width: 700px;
  margin-bottom: var(--unit);
}
.page-intro section+section {
  margin-top: var(--unit);
}
.page-intro h2 {
  margin-bottom: var(--semi-unit);
}
.page-intro ul+p {
  margin-top: var(--semi-unit);
}
.masonry-item {
  margin-bottom: 33px;
}
@media (min-width: 500px) {
  .masonry-item {
    width: calc(0.5 * (100% - 33px));
  }
}
@media (min-width: 700px) {
  .masonry-item {
    width: calc(0.33333 * (100% - 2 * 33px));
  }
}
@media (min-width: 1200px) {
  .masonry-item {
    width: calc(0.25 * (100% - 3 * 33px));
  }
}
.masonry-item figcaption {
  margin-top: var(--semi-unit);
  padding: 0.2em;
  border-top: 2px solid #404040;
  border-bottom: 2px solid #404040;
  font-family: Druk Text;
  font-size: var(--s);
  font-weight: 600;
}
#home-page .page-heading {
  text-transform: uppercase;
}
#home-page .page-title {
  list-style: none;
  margin: 0;
  font-size: var(--xxxl);
}
#home-page .page-title li {
  display: inline;
}
#home-page .page-title li:not(:last-child)::after {
  margin-left: 0.5em;
  margin-right: 0.5em;
  content: '/';
}
#home-page .page-title li:not(:first-child) {
  margin-left: 0.5em;
}
@media (min-width: 800px) {
  #home-page .page-title {
    font-size: var(--xxxxl);
  }
}
#home-page .page-subtitle {
  font-family: Rubik;
  margin-top: 0em;
  font-size: var(--l);
}
@media (min-width: 800px) {
  #home-page .page-subtitle {
    font-size: var(--xl);
  }
}
.text-nav ul {
  list-style: none;
  margin: 0;
  margin-top: var(--unit);
}
.text-nav ul li {
  display: inline;
}
.text-nav ul li:not(:last-child)::after {
  margin-left: 0.5em;
  margin-right: 0.5em;
  content: '•';
}
.text-nav ul li:not(:first-child) {
  margin-left: 0.5em;
}
.text-list {
  list-style: none;
  padding: 0;
}
.text-list li {
  padding: 1px dotted #808080 0;
  border-bottom: 1px dotted #404040;
}
.text-list li:first-child {
  border-top: 1px dotted #404040;
}
.text-list li:hover {
  background: #404040;
  color: #fff;
  cursor: pointer;
}
.text-list a:hover {
  color: inherit;
}
.text-list a {
  text-decoration: none;
}
.text-list li {
  padding: var(--semi-unit) var(--semi-unit);
}
.text-list li:nth-child(2) {
  border-top: 1px dotted #808080;
}
.text-list li:nth-child(n+4) {
  display: none;
}
.text-list .text-title {
  font-size: var(--l);
  font-family: Rubik;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0.4em;
}
.text-list p {
  line-height: 1.2;
}
.text {
  max-width: 700px;
  margin-top: var(--three-units);
}
.text h2 {
  font-family: inherit;
  font-size: var(--m);
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: var(--semi-unit);
}
.text .text-title {
  margin-bottom: var(--two-units);
}
.text.listofshorts {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.text.listofshorts .text-title {
  text-align: center;
}
.text.listofshorts ul {
  list-style: none;
  padding: 0;
}
.text.listofshorts ul li {
  padding: var(--two-units) 0;
  border-bottom: 1px solid #404040;
}
.text.listofshorts ul li:first-child {
  border-top: 1px solid #404040;
}
.spaced p:not(:last-of-type) {
  margin-bottom: calc(0.5 * var(--unit-2));
}
.bigspaces p:not(:last-of-type) {
  margin-bottom: var(--unit-2);
}
.dialogue p {
  text-indent: 0;
}
.dialogue em {
  margin-top: 20px;
}
#web-page {
  background: #eee;
}
.sites {
  max-width: 800px;
  list-style: none;
  padding: 0;
}
.sites li {
  padding: var(--unit) 0;
  border-bottom: 4px solid #404040;
}
.sites li:first-child {
  border-top: 4px solid #404040;
}
@media (min-width: 600px) {
  .site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--unit);
  }
}
.site-image {
  width: 100%;
}
.site-description {
  display: flex;
  justify-content: space-between;
  line-height: var(--unit) !important;
  font-family: Druk Text;
  text-transform: uppercase;
}
@media two-columns-sites {
  .site-description {
    display: block;
    order: 5;
  }
}
.site-title {
  font-family: Druk Text;
  font-size: var(--xl);
  margin-bottom: var(--unit);
}
@media (min-width: 375px) {
  .site-title {
    font-size: var(--xxl);
  }
}
@media (min-width: 800px) {
  .site-title {
    font-size: var(--xxxxl);
  }
}
.site-link {
  min-width: 3em;
}
#workflow {
  display: grid;
  grid-column-gap: var(--unit);
  grid-row-gap: var(--unit);
}
@media (min-width: 900px) {
  #workflow {
    grid-template-columns: 1fr 2fr;
  }
}
#base p+ul {
  margin-top: var(--semi-unit);
}
#base ul {
  list-style: none;
  padding: 0;
}
#base ul li {
  padding: var(--semi-unit) 0;
  border-bottom: 1px solid #404040;
}
#base ul li:first-child {
  border-top: 1px solid #404040;
}
.product {
  display: flex;
  flex-direction: column;
}
.product ul {
  list-style: none;
  padding: 0;
}
.product ul li {
  padding: var(--semi-unit) 0;
  border-bottom: 1px solid #404040;
}
.product ul li:first-child {
  border-top: 1px solid #404040;
}
.product-description {
  margin-bottom: var(--unit);
}
.product-price {
  margin-top: auto;
  border: 2px solid #404040;
  text-align: center;
  padding: var(--semi-unit) 0;
  font-size: var(--l);
}
#workflow-figure {
  display: flex;
  justify-content: center;
}
.lb-caption {
  font-size: var(--m) !important;
  font-family: Rubik !important;
  font-weight: normal !important;
  color: #fff !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.lb-dataContainer {
  margin-top: 8px !important;
}
.inspiration-section ul {
  list-style: none;
  padding: 0;
}
.inspiration-section ul li {
  padding: var(--semi-unit) 0;
  border-bottom: 1px dotted #404040;
}
.inspiration-section ul li:first-child {
  border-top: 1px dotted #404040;
}
.inspiration-section .card-title {
  text-transform: uppercase;
}
.inspiration-section .card {
  background: #05cdfe;
}
.lyrics {
  margin-bottom: var(--two-units);
  list-style: none;
  padding: 0;
}
.lyrics li {
  padding: var(--unit) 0;
  border-bottom: 1px solid #000;
}
.lyrics li:first-child {
  border-top: 1px solid #000;
}
.lyrics-text {
  font-family: Druk Text;
  font-size: var(--xl);
  line-height: 0.9;
  margin-bottom: var(--quarter-unit);
}
#shop-intro {
  margin: 0 auto;
}
.sprd-header__title {
  color: #fff !important;
}
#spreadshirt-shop * {
  font-family: Rubik;
  font-size: var(--s);
}
#filterBar * {
  font-size: var(--s);
}
#filterBar .sprd-Item {
  border-bottom: 1px dotted #404040;
}
#filterBar .sprd-Label {
  line-height: 1.3;
  padding: 10px 0;
}
.sprd-price * {
  font-size: var(--s);
}
#grossgedrucktes {
  margin-top: var(--two-units);
  font-size: var(--l);
}
#shooting-page {
  background: #eee;
}
#shooting-page #candidates {
  max-width: 800px;
  list-style: none;
  padding: 0;
}
#shooting-page #candidates li {
  padding: var(--unit) 0;
  border-bottom: 4px solid #404040;
}
#shooting-page #candidates li:first-child {
  border-top: 4px solid #404040;
}
#shooting-page .person img {
  width: 100%;
}
#shooting-page .person-name {
  font-family: Druk Text;
  line-height: 0.9;
  text-transform: uppercase;
  font-size: var(--xxxl);
}
#shooting-page .person-comments {
  margin-top: var(--semi-unit);
}
.playground img {
  margin-top: var(--semi-unit);
  display: block;
}
.playground + .playground {
  margin-top: var(--unit);
}
