/////////////////
// breakpoints //
/////////////////

m = '(min-width: 500px)'
l = '(min-width: 1000px)'


textplus = '(min-width: 980px)'
large-text = '(min-width: 800px)'
two-cols = '(min-width: 600px)'
three-cols = l
large-padding = large-text
mobile-nav = '(max-width: 900px)'
desktop-nav = '(min-width: 900px)'
big-heading = large-text
big-mobile = '(min-width: 375px)'


////////////////
// typography //
////////////////

mono-font = Inconsolata
body-font = Rubik //Inconsolata
heading-font = Druk Text
text-width = 700px
heading-line-height = 0.9

:root
    --scale-factor: 1.2
    --line-height: 1.4
    --font-size: 18px
    @media large-text
        --font-size: 21px
    --m: var(--font-size)
    --l: calc(var(--scale-factor) * var(--m))
    --xl: calc(var(--scale-factor) * var(--l))
    --xxl: calc(var(--scale-factor) * var(--xl))
    --xxxl: calc(var(--scale-factor) * var(--xxl))
    --xxxxl: calc(var(--scale-factor) * var(--xxxl))
    --xxxxxl: calc(var(--scale-factor) * var(--xxxxl))
    --xxxxxxl: calc(var(--scale-factor) * var(--xxxxxl))
    --xxxxxxxl: calc(var(--scale-factor) * var(--xxxxxxl))
    --s: calc(var(--m) / var(--scale-factor))
    --xs: calc(var(--s) / var(--scale-factor))
    --unit: calc(var(--line-height) * var(--font-size))
    --two-units: calc(2*var(--unit))
    --three-units: calc(3*var(--unit))
    --four-units: calc(4*var(--unit))
    --five-units: calc(5*var(--unit))
    --six-units: calc(6*var(--unit))
    --seven-units: calc(7*var(--unit))
    --semi-unit: calc(0.5*var(--unit))
    --quarter-unit: calc(0.5*var(--semi-unit))

    --line-height-2: 1.7
    --font-size-2: 19px
    @media large-text
        --font-size-2: 22px
    --unit-2: calc(var(--line-height-2) * var(--font-size-2))
    --semi-unit-2: calc(0.5 * var(--unit-2))
    --two-units-2: calc(2 * var(--unit-2))
    --m-2: var(--font-size-2)
    --l-2: calc(var(--scale-factor) * var(--m-2))
    --xl-2: calc(var(--scale-factor) * var(--l-2))
    --xxl-2: calc(var(--scale-factor) * var(--xl-2))
    --xxxl-2: calc(var(--scale-factor) * var(--xxl-2))
    --xxxxl-2: calc(var(--scale-factor) * var(--xxxl-2))
    
    --page-padding: var(--unit)
    @media l
        --page-padding: var(--two-units)

////////////
// colors //
////////////

colors = #05CDFE #ED5083 #08E498 
lights = lightness(colors[0], 80%) lightness(colors[1], 75%) lightness(colors[2], 70%) 
primary-color =  #05CDFE 
secondary-color = #08E498
tertiary-color = #ED5083
dark = #404040  // hsl(0, 0, 25%)  // rgba(0,0,0,0.87)
light-grey = #f7f7f7
middle-grey = #e8e6e6
background-color = #fefefe // #E4D5AD//white//#6D97C6 //#EDF2F4 // #EAEEEF //#FEFDCA //#fdfd77 //#F0F9F4 //light-grey //#eff6fb


text-color = dark
heading-color = hsl(0, 0%, 30%)



//////////
// misc //
//////////

baseBorder = 1px solid text-color
max-page-width = text-width//1200px
list-separator = ' '
separated-list-margin = 5px
min-column-width = 15em
