doctype html
html(lang='de')
   head
      meta(charset='utf-8')
      block title
         title Dominic Looser: Text und Grafik
      block description
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      //- base(href='/')
      link(rel='stylesheet', href='styles/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Libre+Franklin:400,900') 
   body(id='#{id}')
      block body