doctype html
html(lang='de')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title 
      meta(name='description', content='Die Website von Dominic Looser. Text und Grafik.')
      meta(name='viewport', content='width=device-width, initial-scale=1')

      link(rel='stylesheet', href='/styles/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata:400,700')

      //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
      //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900')
      //- link(rel='stylesheet', href='http://basehold.it/33')

   body
      //- header.page-header
      //-    .container
      //-       h1: a(href='/')  
      //-       nav
      //-          a(href='/about') about
      .container
         nav#static-nav 
            a(href='/') Home
            a(href='/text') Text
            a(href='/grafik') Grafik
            a(href='/about') Über mich
      block content
      block scripts
