doctype html
html(lang='de')
   head
      block title
         title Dominic Looser: Text und Grafik
      meta(name='description', content=description)
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      base(href='/')
      link(rel='stylesheet', href='styles/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata:400,700')     
      block head
   body
      block content
      block scripts