extends _base

block title
   title About – Dominic Looser

block content

   .container
         h1.page-heading About

         .columns
            img(src='images/green-portrait.jpg').column
            .column
               p In kreativen Momenten schreibe ich <a href='text'>Texte</a> oder gestalte <a href='http://tsnuk.me'>T&#8209;Shirts</a>. In weniger kreativen Momenten schlafe ich oder esse Champignons. Die mag ich lieber als Tomaten. Ich besitze ein blaues Schaf. Es ist mein wertvollster Besitz, nachdem ich meine CD von den Goldenen Zitronen aus Versehen verschenkt habe. 

               p <strong>Krasse Fakten</strong>: Abgeschlossenes Studium der Mathematik, der deutschen Linguistik und der Informatik an der Universität Zürich. Forschung und Entwicklung in angewandter Logik. Weiterbildungen in Typographie, Impro-Theater, Drehbuch-Schreiben.  

               p <strong>Krasse Skills</strong>: Auge und Händchen für minimales Typo-lastiges Design. Entwicklung und Design von Websites, statisch oder dynamisch, mit oder ohne CMS. Python, HTML, CSS, Javascript und solche Sachen. Kann vor vielen Leuten tiefsinnige und witzige Texte performen (Poetry Slam). Kann Mathematik und deutsche Grammatik beibringen. 

               h2 Einflüsse
               ul 
                  li Conor Oberst
                  li Sven Regener
                  li Mani Matter
                  li Gysbert zu Knyphausen
                  li Robert Gwisdek

         
         //- li Judith Holofernes / Wir sind Helden
         
         //- li Tocotronic
         //- li Die Fantastischen Vier
         //- li Andreas Thiel
         //- li Thomas Hoch 
         //- li Ulrich Seidl

      //- ul
      //-    li Mathematik
      //-    li (deutsche) Linguistik
      //-    li Informatik
      //-    li Typographie
      //-    li Grafikdesign
      //-    li Webdevelopment
      //-    li Webdesign
      //-    li Kurztexte
      //-    li Billard
      //-    li Go
      //-    li Backgammon
      //-    li Gitarre
