extends _base

block content
   .container
      header
         h1 Über mich
      p In kreativen Momenten schreibt Dominic Texte oder gestaltet T&#8209;Shirts. In weniger kreativen Momenten schläft er oder ist Champignons. Die mag er lieber als Tomaten. Er besitzt ein knallblaues Schaf. Es ist sein wertvollster Besitz, nachdem er seine CD von den Goldenen Zitronen aus Versehen verschenkt hat. 

      //- ul
      //-    li Mathematik
      //-    li (deutsche) Linguistik
      //-    li Informatik
      //-    li Typographie
      //-    li Grafikdesign
      //-    li Webdevelopment
      //-    li Webdesign
      //-    li Kurztexte
      //-    li Billard
      //-    li Go
      //-    li Backgammon
      //-    li Gitarre
