extends _base

block title
   title Grafik – Dominic Looser

block content   
   for graphic in graphics
      .graphic.fullscreen(style='background-color:' + graphic.background)
         .graphic__image-box
            img.graphic__image(src='images/' + graphic.image)
         .graphic__description(style='color:' + graphic.color )
            h2.graphic__title=graphic.name
            //- p= graphic.year