extends _base

block title
   title Grafik – Dominic Looser

block content   
   for graphic in graphics
      .graphic.fullscreen
         .graphic__image-box(style='background-color:'+graphic.background)
            img.graphic__image(src='images/'+graphic.image)
         .graphic__description
            h2.graphic__title
               =graphic.name
            //- p= graphic.year