extends _base

block title
   title Grafik – Dominic Looser

block content   
   .graphics
      for graphic in graphics
         figure.graphic(style='background: ' + graphic.background)
            .image-container
               img(src='images/' + graphic.image)
            figcaption(style='color: ' + graphic.color)
               h2= graphic.name