extends _base

block description
   meta(name='description', content='Die Webseite von Dominic Looser: Auftritte, Text und Grafiken.')

block content 
   header.page-header
      .container
         include _includes/navigation
   .container
      h1#site-title.page-heading
         #title Dominic Looser
         #subtitle Text und Grafik
      #intro.plustext
         img(id='portrait', src='images/young.png').plustext-plus
         .plustext-text
            p.
               Manchmal baue ich potentielle Tassen-Imperien auf. 
               Manchmal schreibe ich <a href='text'>Texte</a> und trage sie auf
               Bühnen vor.  
            p.
               Häufig entwickle ich Webseiten, selten layoute ich Bücher. 
               Da wären noch die <a href='http://tsnuk.me'>T-Shirts</a> und die Postkarten. Sehr häufig schlafe ich.
            p
               span Offen für Kollaborationen oder Aufträge jeglicher Art. Gestaltung, Text, Programmierung, Musik – you name it. 
               span Freue mich über kürzere oder längere Zeilen in  
               a(href='mailto:'+email) meinem Postfach
               span .
      .graphics.grid
         for graphic in graphics
            figure.graphic.grid-item
               img(src='images/' + graphic.image)
      include _includes/footer

block scripts       
   script(src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous")
   script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
   script(src='scripts/imagesloaded.js')
   script(src='scripts/masonry.js')