extends _base

block content 
   .container
      header#site-title
         h1 Dominic Looser
         p Text und Grafik
      nav#homepage-nav
         ul
            li: a(href='text') Text
            li: a(href='grafik') Grafik
            li: a(href='about') Über mich
