extends _base

block content 
   main.container
      header.site-title
         h1 Dominic Looser
         p Text und Grafik

      nav.homepage-nav
         ul.arrow-list
            li: a(href='text') Text
            li: a(href='grafik') Grafik
            li: a(href='about') About

      p Die T-Shirts von TsnuK gibt es unter <a href='http://tsnuk.me'>tsnuk.me</a> zu kaufen. 

      p.contact Kontakt: Anfragen für Kooperationen, Aufträge aller Art oder Gedichte lese ich <a href='mailto:dominic.looser@gmail.com'>hier</a>. 