extends _base

block content 
   .container
      header#site-title
         h1 Dominic Looser
         p Text und Grafik
      nav#homepage-nav
         ul
            li: a(href='text') Text
            li: a(href='grafik') Grafik
            li: a(href='about') About

      p#contact Anfragen für Kooperationen, Aufträge, Heiratsanträge, Gedichte oder ein simples «Hallo» an <a href='mailto:dominic.looser@gmail.com'>dominic.looser@gmail.com. 