extends _base

block content 
   .container
      #site-title
         h1 Dominic Looser
         p Text und Grafik
      nav
         ul#homepage-nav
            li: a(href='text') Text
            li: a(href='grafik') Grafik
            li: a(href='about') Über mich
