extends _base

block content 
   main.container
      header.site-title
         h1 Dominic Looser
         p Text und Grafik

      .intro
         p Hallo. 
         p Ich programmiere, gestalte, schreibe, performe. 
         p Webseiten, Texte, T-Shirts, Tassen. 
         p Unter <a href='text'>Text</a> kannst du einige meiner Texte lesen und siehst, wo ich demn채chst auf der B체hne stehe.
         p Unter <a href='grafik'>Grafik</a> gibts einige meiner Designs zu sehen. 

      p Die T-Shirts von TsnuK gibt es unter <a href='http://tsnuk.me'>tsnuk.me</a> zu kaufen. 

      p.contact Kontakt: Anfragen f체r Kooperationen, Auftr채ge aller Art oder Gedichte lese ich <a href='mailto:dominic.looser@gmail.com'>hier</a>. 