extends _base

block content
   .container
      h1.page-heading Page Proportions
      for proportion in proportions
         - width = 100; height = proportion.ratio * width
         figure.proportion
            .image-container
               svg(viewBox='0 0 ' + width + ' ' + height)
                  rect(width='100%', height='100%', fill='#212121')
            figcaption
               h3= proportion.title
               p 1:#{proportion.ratio}