extends _base

block body
   .page-header
      .full-width-wrapper
         include _includes/navigation
   .full-width-wrapper
      #spreadshirt-shop
      include _includes/footer
   script.
      var spread_shop_config = {
         shopName: 'dominic',
         locale: 'de_CH',
         prefix: '//shop.spreadshirt.ch',
         baseId: 'spreadshirt-shop'
      };
   script(src="//shop.spreadshirt.at/shopfiles/shopclient/shopclient.nocache.js")   