extends _base
block title
   title About – Dominic Looser
block content
   .page-header
      .container
         include _includes/navigation
   .container
      h1.page-heading jkl
      iframe(src="https://docs.google.com/document/d/1RZ52tWhl4LzOwbyh5PSKk3sHG0uREAzOgfWeQTePtLg/pub?embedded=true")


