extends ../_default

block content
   .page-content
      #products.grid.colored-cards.s1
         .product.card.indented-paragraphs
            h2.card-title Packet 1A
            .product-description
               p.
                  Ich entwickle Ihre Webseite aus einer bestehenden Vorlage heraus.
                  Diese kann (muss aber nicht) von mir selbst entwickelt worden sein.
               p.
                  Ich passe die Erscheinung individuell an, also Farben, Schriftarten usw. Der 
                  Grundcharakter und die Layoutmöglichkeiten bleiben fix.
               p.
                  Sie können den Inhalt Ihrer Webseite (Text, Bilder etc.) jederzeit selbst mittels eines Content Management Systems (CMS)
                  bearbeiten.
            .product-price CHF 2000.05
         .product.card
            h2.card-title Packet 1A Deluxe
            .product-description
               p.
                  Ich gestalte Ihre Webseite von Grund auf neu – ausgehend von ausführlichen
                  Gesprächen. 
               p.   
                  Ihre Firma bzw. Ihr Projekt erhält eine professionielle, ästhetische und funktionale
                  Manifestation im Netz: inviduell auf ihre Bedürfnisse und ihr Wesen massgeschneidert.
            .product-price CHF 6000.05
            //- li Workshop zur Schärfung und Konkretisierung der inhaltlichen und visuellen Identität
      section#base.s1.text-wrapper
         h2.h2 Grundausstattung
         p In allen Packeten ist enthalten:
         ul
            li Ausführliches persönliches Gespräch zur Klärung der Bedürfnisse und der Ausgangslage
            li. 
               Anbindung an ein Content Management System (CMS), damit Sie den Inhalt Ihrer
               Webseite selbst bearbeiten können
            li Hochklassige Typographie
            li Responsive: funktional und schön auf allen Geräten
            li Semantisches HTML
            li.
               Ich kümmere mich um alle technischen Dinge wie Anbindung an die Domain (Web-Adresse) 
               und das Hosting (die technische Infrastruktur, auf der die Webseite schliesslich läuft).
               Je nach Lösung arbeite ich mit meinem Kollegen <a href='http://solunic.at'> Martin 
               Schlagnitweit</a> zusammen.