extends ../_default

block content
   #workflow
      figure#workflow-figure
         img(src='/images/misc/workflow.svg')
      article#workflow-description.grid.colored-cards
         .card
            h2.card-title Ausgangslage
            ul
               li Wer/Was?
               li Produkte
               li Konkurrenz
               li Logo
               li Attribute
               li Brand
               li Mission Statement
               li Elevator Pitch 
               li Slogan / Claim
               li Need Assessment
               li Zielgruppe Webseite
               li Intendierte Reaktion der Benutzer
         .card
            h2.card-title Inhalt
            ul
               li Liste von Inhalten
               li Sprachen / Hauptsprache
               li Priorisierung
               li Sitemap
         .card
            h2.card-title Gestaltung
            ul
               li Wireframe
               li Farben
               li Typografie

         .card
            h2.card-title Implementation
            ul
               li Domain registrieren
               li Hosting einrichten
               li CMS einrichten
               li Staging-Seite aufschalten
               li Description Tag
               li Favicon
               li Launch

   section.s1.arrow-links
      h2.h2 Weitere Informationsquellen: 
      ul
         li: a(href='https://www.smashingmagazine.com/2018/02/comprehensive-website-planning-guide-part1/') Comprehensive Website Planning Guide (Ben Seigel, Smashing Magazine)

   section.s1
      h2.h2 Tools
      ul
         li Trello     
         li Google Docs