extends ../_default

block content
   .page-intro= tagline
   dl.definition-list
      for prop in props
         dt= prop.name
         dd= prop.value

      //- dt Tagline
      //- dd= tagline
      //- dt keywords
      //- dd= keywords
      //- dt Angebot
      //- dd= product
      //- dt Zielgruppe
      //- dd= targetmarket