---
pagetitle: Bundesverfassung<br>der<br>Schweizerischen<br>Eidgenossenschaft
subtitle: vom 18. April 1999 (Stand am 23. September 2018)
---

extends /default

block content
   article.spaced-paragraphs!= global.verfassung.content