extends /base
include /page_heading

block content
   .wrapper
      include /navigation
      +pageHeading('Empfehlungen')
      main.page-main
         ul.colored-on-hover-links
            for rec in global.recs
               li: a(href=rec.id)= rec.id
      include /footer