extends /base
include /image
include /page_heading

block content
   include /navigation
   .wrapper
      +pageHeading('Grafik')
      main.page-main
         .page-intro
            p.
               Ich gestalte Bücher, Postkarten, T&#8209;Shirts, Tassen, Poster und Flyer. Am liebsten in Verbindung 
               mit Sprache und Typographie. 
         .page-content
            .grafik.image-columns
               for item in global.grafik
                  +lightboxImage(`grafik/${item.filename}`, lightboxGroup='grafik')
      include /footer

block append scripts
   script(src='/scripts/masonry.pkgd.min.js')
   script(src='/scripts/imagesloaded.js')
   script(src='/scripts/lightbox.min.js')
   script(src='/scripts/masonry.js')
   
   