extends /base
include /wikidata
include /page_heading

block content
   .wrapper
      include /navigation
      +pageHeading('Notizen')
      main.page-main
         ul.notes-list
            for note in global.notes
               li
                  +infoboxButton(note)
      include /footer

block append scripts 
   include /wikidata_scripts