extends /base
include /wikidata
include /page_heading

block content
   .wrapper
      include /navigation
      +pageHeading('Zitate')
      .page-main
         .quotes
            for quote in global.quotes
               blockquote.quote
                  p.quote-content= quote.text
                  footer.quote-footer
                     span.quote-author 
                        if quote.author
                           +item(quote.author)
                        if quote.source
                           span= ' ('
                           +item(quote.source)
                           span= ')'
      include /footer