extends /base
include /wikidata
include /page_heading

block content
   .wrapper
      include /navigation
      +pageHeading('Zitate')
      .page-main
         for quote in global.quotes
            .quote-wrapper
               blockquote.quote
                  p.quote-content= quote.text
                  footer.quote-footer
                     span.quote-author 
                        if quote.author
                           +item(quote.author)
                     //- if quote.author && quote.source
                     //-    span &ensp;(#{quote.source.label})
      include /footer