extends /base
include /wikidata
include /page_heading

block content
   .wrapper
      include /navigation
      +pageHeading('Zitate')
      .page-main
         .quotes
            for quote in global.quotes
               blockquote.quote
                  p.quote-content= quote.content
                  footer.quote-footer 
                     if quote.author
                        span.quote-author 
                           +infoboxButton(quote.author)
                        if quote.source
                           span= ', '
                           span.quote-source
                              +infoboxButton(quote.source)
                     else if quote.source
                        span.quote-source
                           +infoboxButton(quote.source)
      include /footer