extends _base

block main
   .full-width-wrapper
      include ../includes/navigation
      block header
         header.page-heading
            h1.page-title= pagetitle ? pagetitle : current.source
      block content
      include ../includes/footer

