extends _base

block main
   .full-width-wrapper
      include ../includes/navigation
      block header
         header.page-heading
            h1
               p.page-title= pagetitle
               p.page-subtitle= subtitle

      block content
      include ../includes/footer

