extends _base

block main
   .wrapper
      include ../includes/navigation
   .wrapper
      block header
         header.page-heading
            h1.page-title= pagetitle
      block content
      include ../includes/footer




