mixin wasrauskam
   section.card#wasrauskam
      h2.card-title Was raus kam
      main
         section.card-images.card-section
            a(href='/images/large/graphics/was-raus-kam-2-front.jpg', data-lightbox='wasrauskam')
               img(src='/images/small/graphics/was-raus-kam-2-front.jpg')
            a(href='/images/large/graphics/was-raus-kam-2-back.jpg', data-lightbox='wasrauskam')
               img(src='/images/small/graphics/was-raus-kam-2-back.jpg')
         section.card-section.spaced-paragraphs
            p Meine Texte gibt es jetzt im Büchlein mit dem Titel <em>Was raus kam</em>.
            p: a.arrow-link(href='/wasrauskam') Info & Konsum

mixin performancelist
   ul.performance-list
      for p in performances
         li.performance
            header.performance-header 
               time.performance-date= p.date 
               span.performance-place= p.place 
            h3.performance-title
               if p.link
                  a(href=p.link).arrow-link= p.title
               else
                  span= p.title