extends _default

block title
   title Auftritte – Dominic Looser

block content
   h1.page-heading Auftritte
   .two-columns
      .column
         ul#performance-list
            for p in performances
               li 
                  time= p.date 
                  p #{p.title}, #{p.place} 
      .column.image-column
         for image in public.images.stage._contents
            img(src='images/stage/#{image}')
