extends _default

//- block description
//-    meta(name='description', content='Die Webseite von Dominic Looser: Auftritte, Texte und Grafiken.')

block content
   header.page-heading
      h1.page-title Dominic Looser
      ul.page-subtitle
         li: a(href='text') Text
         li: a(href='web') Web
         li: a(href='grafik') Grafik
   main.page-main
      .page-intro
         p.
            Hallo. Mein Name ist Dominic Looser und mache diverse Sachen. Vieles davon dreht
            sich um Sprache. Auch Paradoxien mag ich sehr. Und Typografie. Webseiten. Postkarten. Bücher.
      .grid
         +wasrauskam
         section.card
            h2.card-title Nächste Auftritte
            +performancelist
         section.card
            h2.card-title Web
            - site = sites[0]
            a(href=site.link).card-section
               img(src='/images/sites/' + site.image)
            h3.card-section= site.title
            .card-section
               a(href='/web').arrow-link alle Webseiten 
         section.card
            h2.card-title Grafik
            - lastgraphics = [graphics[0], graphics[1]]
            section.card-section.card-images
               for graphic in lastgraphics
                  a(href='/images/graphics/large/' + graphic.filename, data-lightbox='lastgraphics', data-title=graphic.title)
                     img(src='/images/graphics/small/' + graphic.filename)
            section.card-section
               a(href='/grafik').arrow-link alle Grafiken
         section.card
            h2.card-title Projekte
            ul.arrow-list
               li: a(href='http://diekrassetasse.com') Die Krasse Tasse GmbH
               li: a(href='http://einezwecklosewebseite.ch') Eine Zwecklose Webseite
               li: a(href='https://www.facebook.com/AnalogeTage/') Analoge Tage
         section.card
            h2.card-title Kontakt
            a.arrow-link(href='mailto:#{email}') Email
            a.arrow-link(href='https://www.facebook.com/dominic.looser') Facebook
            a.arrow-link(href='tel:+41787730105') 078 773 01 05
            

block append scripts
   script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js')
   script(src='/scripts/homepage.js')
   script(src='/scripts/formatdates.js')
   script(src='/scripts/lightbox.min.js')


   

