extends _default

block content
   header.page-heading
      h1.page-title Dominic Looser
      ul.page-subtitle
         li: a(href='text') Text
         li: a(href='web') Web
         li: a(href='grafik') Grafik
   main.page-main
      .page-intro
         p.
            Ich bin ein Mathematiker, der keine Mathematik macht. Sondern Webseiten, Bücher und 
            Lesungen. Und noch ein paar Sachen mehr. Hallo.

      .page-content.grid
         +wasrauskam
         section.card
            h2.card-title Nächste Auftritte
            +performancelist
         section.card
            h2.card-title Web
            - site = sites[0]
            a(href=site.link).card-section
               img(src='/images/sites/' + site.image)
            h3.card-section= site.title
            .card-section
               a(href='/web').arrow-link alle Webseiten 
         section.card
            h2.card-title Grafik
            section.card-section
               img(src='/images/graphics/small/das-glueck.jpg')
            //- - lastgraphics = [graphics[0], graphics[1]]
            //- section.card-section.card-images
            //-    for graphic in lastgraphics
            //-       a(href='/images/graphics/large/' + graphic.filename, data-lightbox='lastgraphics', data-title=graphic.title)
            //-          img(src='/images/graphics/small/' + graphic.filename)
            section.card-section
               a(href='/grafik').arrow-link alle Grafiken
         section.card
            h2.card-title Projekte
            ul.arrow-list
               li Die Essenz des Lebens
               li: a(href='http://diekrassetasse.com') Die Krasse Tasse GmbH
               li: a(href='http://einezwecklosewebseite.ch') Eine zwecklose Webseite
               li: a(href='https://www.facebook.com/AnalogeTage/') Analoge Tage
               li TsnuK
               li Cinemap
         section.card
            h2.card-title Dienstleistungen
            ul.arrow-list
               li: a(href='/web') Web: Design und Programmierung
               li: a(href='/grafik') Typographische Gestaltung
               li: a(href='/text') Lesungen und Performances
         section.card
            h2.card-title Kontakt
            a.arrow-link(href='mailto:#{email}') Email
            a.arrow-link(href='https://www.facebook.com/dominic.looser') Facebook
            a.arrow-link(href='tel:+41787730105') 078 773 01 05
            

block append scripts
   script(src='/scripts/moment-with-locales.min.js')
   script(src='/scripts/homepage.js')
   script(src='/scripts/formatdates.js')
   script(src='/scripts/lightbox.min.js')


   

