extends _default

block description
   meta(name='description', content='Die Webseite von Dominic Looser: Auftritte, Texte und Grafiken.')

block content
   h1#site-title.page-heading
      p#title Dominic Looser
      p#subtitle Text und Grafik

   #intro.two-columns
      .column
         h2 News
         ul
            li Mein erstes Buch <em>Was Raus Kam</em> ist bald erhältlich. Stay tuned.
            li Die <em>Krasse Tasse</em> gibt es nun im <a href=''>Cafe Z im Park</a> zu kaufen.
            li Ich trete auf.... 
      .column
         section
            h2 Zusammenarbeit
            p.
               Gerne unterstütze
               ich Sie in typographischen, sprachlichen oder grafischen Belangen. Ich freue mich
               über <a href='mailto:#{email}'>digitale Post</a>.
         section
            h2 Weitere Projekte
            ul
               li: a(href='http://diekrassetasse.com') Die Krasse Tasse GmbH
               li: a(href='http://einezwecklosewebseite.ch') Eine Zwecklose Webseite
               li: a(href='http://tsnuk.me') TsnuK T-Shirt Shop
         
         

   //- #intro.text-wrapper
   //-    p.
   //-       Manchmal baue ich potentielle <a href='http://diekrassetasse.com'>Tassen-Imperien</a> auf. 
   //-       Manchmal schreibe ich <a href='/text'>Texte</a> und trage sie auf
   //-       <a href='/auftritte'>Bühnen</a> vor.  
   //-    p.
   //-       Häufig entwickle ich Webseiten, selten layoute ich Bücher. 
   //-       Da wären noch die <a href='/shop'>T-Shirts</a> und die Postkarten. Sehr häufig schlafe ich.
   //-    p
   //-       span Offen für Aufträge oder Kollaborationen jeglicher Art. Webseiten, Text, Typographie – you name it. 
   //-       span Freue mich über kürzere oder längere Zeilen in  
   //-       a(href='mailto:'+email) meinem Postfach
   //-       span .
   .graphics.masonry
      for graphic in graphics
         figure.masonry-item
            a(href='/images/graphics/large/' + graphic.filename, data-lightbox='graphics', data-title=graphic.title + ' / ' + graphic.description + ' / ' + graphic.year)
               img(src='/images/graphics/small/' + graphic.filename)
            //- figcaption= graphic.title

block append scripts       
   script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
   script(src='scripts/imagesloaded.js')
   script(src='scripts/lightbox.min.js')
   script(src='scripts/masonry.js')
