extends _default

block content
   .grid.colored-cards
      for category, slug in inspiration
         section.card.inspiration-section
            h3.card-title= slug
            ul
               for item in category
                  if item.link
                     li: a(href='#{item.link}')= item.name
                  else
                     li= item.name