extends _default

block content
   main.spaced-paragraphs.text-wrapper.underlined-links
      section.s1
         p.
            Ab dem 20.&#8239;Mai 2019 versende ich täglich per Oldschool-Post ein Gedicht aus der Gedichtsammlung 
            «1-800» von <a href='http://carlospiller.ch'>Carlo Spiller</a>.
         p. 
            Ich habe einige Tage zuvor, genauer gesagt am 17.&#8239;Mai, ein Exemplar dieses 
            limitierten Werkes erworben. Ich werde dem Autor in den nächsten 800 Tagen täglich 
            einen Franken überweisen.
         p.
            Da ich am selben Abend ein Gedicht für 1.95 CHF weiterverkauft habe,
             startet das Projekt mit 799 Gedichten. Ich habe keines vor dem Kauf und 
            dem ersten Versenden gelesen. 
         p.
            Schauen wir mal, was passiert.
      section.s1
         h2.h2 1-800   
         p.
            Carlo Spiller hat vom 7.&#8239;Januar 2015 bis zum 16. März 2017 täglich ein 
            Gedicht auf der Schreibmaschine geschrieben. Jeweils 100 Tage sind einer Form gewidmet. 


