extends _base

block body
   .page-header
      .full-width-wrapper
         include _includes/navigation
   .full-width-wrapper
      .text-wrapper
         h1.page-heading Shop
         .spaced-paragraphs
            p. 
               Hier darf getauscht werden: hyper-individuelle und Lebensfreude versprühende
               Kleidungsstücke gegen groteske digitale Zahlen.
            p.
               Entdecken Sie <strong> Vielseitig Desinteressiert</strong> T-Shirts, 
               <strong>Geometry for Rebels</strong> Pullover und vieles Lustiges mehr!
            p.
               Die meisten Produkte sind auch direkt bei <a href='mailto:#{email}'>mir</a>
               in Zürich erhältlich (möglicherweise günstiger). Ausserdem gehe ich gerne
               auf individuelle Wünsche ein wie zum Beispiel Varianten oder komplett neue Designs. 
            p.
               Happy Shopping! 
      #spreadshirt-shop
      .text-wrapper
         p. 
            <strong>Grossgedrucktes</strong>: Die Kleider werden in Deutschland bedruckt und verschickt. Deswegen kann ab
            etwa 50 Franken Bestellwert (inklusive Porto) Zoll anfallen.  Damit kann dann die 
            Schweiz wieder neue Kindergärten bauen und neue Kampfflugzeuge einkaufen. 
            Oh happy day.
      include _includes/footer
   script.
      var spread_shop_config = {
         shopName: 'dominic',
         locale: 'de_CH',
         prefix: '//shop.spreadshirt.ch',
         baseId: 'spreadshirt-shop'
      };
   script(src="//shop.spreadshirt.at/shopfiles/shopclient/shopclient.nocache.js")   