extends _default

block content
   main.page-main.plustext.arrow-links
      .plustext-plus
         img(src='/images/small/graphics/was-raus-kam-2-front.jpg')
      .plustext-text.spaced-paragraphs
         p.  
            Das Büchlein mit dem Titel <em>Was raus kam</em> versammelt 10 meiner Texte. Sie handeln vom Menschen, dem Nichts und der Realität. Aber auch von Feedback, Reptilienhirnen und leeren Kaffeetassen. 
         p Prägnant, persönlich, direkt.
         p 18.- CHF, 56 Seiten 
         .h2 Konsum
         p.
            Du kannst <em>Was raus kam</em> entweder bei mir direkt per 
            <a href=mailto:#{email}>Email</a> bestellen. Ich schicke dir dann
            das Buch mit Rechnung (18 CHF inkl. Porto) zu. 
         p.
            Oder du holst es dir in einem der folgenden Geschäfte (alle in Zürich):
         ul
            li: a(href='https://kosmos.ch') Kosmos
            li: a(href='https://spheres.cc') Sphères
            li: a(href='http://duplikat.me') Duplikat
            li: a(href='https://materialismus.ch') Material
            li: a(href='http://friedmannschmuck.ch') Friedmann Schmuck
      

   


