extends _default

block content
   .page-intro
      p.
         Ich gestalte und entwickle Webseiten: individuell, reduziert, ästhetisch.
   .page-content.underline-on-hover-links.grid
      for site in sites
         figure.card_nopadding
            a(href=site.link).card-section_fullwidth
               img(src='/images/small/web/' + site.image)
            figcaption.card-section.website-footer
               h2= site.title
               p: a(href=site.link)= site.link
               
