extends /default
include /wikidata

block content
   if local.props
      dl.dl
         for prop in local.props
            dt= prop.key
            dd 
               if typeof prop.value == 'string'
                  +item(prop.value)
               else
                  ul
                     for value in prop.value
                        li
                           +item(value)

   if local.content
      != local.content