block content
//- extends /base

//- block main
//-    .fullwidth-wrapper
//-       include /navigation
//-       block header
//-          header.page-heading
//-             h1
//-                p.page-title!= pagetitle
//-                if subtitle
//-                   p.page-subtitle!= subtitle
//-       block content
//-       include /footer
