extends /base

block main
   .fullwidth-wrapper
      include /navigation
      block header
         if local.pagetitle || local.title
            header.page-heading
               h1
                  if local.pagetitle
                     p.page-title= local.pagetitle
                  else if local.title
                     p.page-title= local.title
                  if local.subtitle
                     p.page-subtitle!= local.subtitle
                  
      block content
      include /footer