extends /base

block main
   .fullwidth-wrapper
      include /navigation
      block header
         if local.pagetitle
            header.page-heading
               h1
                  p.page-title!= local.pagetitle
                  if local.subtitle
                     p.page-subtitle!= local.subtitle
      block content
      include /footer