extends /default
include /wikidata
include /sections

block content
   - lang = 'en'

   +listSection(local.forms, 'Formen', lang)
   +listSection(local.people, 'People', lang)


block append scripts
   script(src='/scripts/wikibase-sdk.min.js')
   script(src='/scripts/wd-elements.umd.js')
   script(src='/scripts/wikidata.js')