extends /base
include /wikidata
include /sections
include /page_heading

block content
   .wrapper
      include /navigation
      +pageHeading(local)
      .page-main
         if local.meaning
            div= local.meaning
         +listSection(local.forms, 'Formen')
         +listSection(local.people, 'People')
      include /footer
