---
pagetitle: Deine Empfehlungen
---
extends /default
include /cards

mixin section(items, title)
   if items
      section.s1
         header.s1-header
            h2.h2= title
         main.s1-main.grid.randomly-colored
            for item in items
               .rec
                  h3.rec-title: wd-entity(id=item, label, lang='en')


block content
   if local.recs
      +section(local.recs.people, 'Personen')
      +section(local.recs.books, 'Bücher')
      +section(local.recs.films, 'Filme')
      +section(local.recs.tv, 'Serien')
      
      


                  
   //- if local.likes
   //-    section.s1
   //-       header.s1-header
   //-          h2.h2 Was du magst
   //-       main.s1-main.grid.colored-cards
   //-          if local.likes.films
   //-             +listCard('Filme', local.likes.films)
   //-          if local.likes.directors
   //-             +listCard('Regie', local.likes.directors)
