extends /base
include /cards
include /page_heading
include /sections
include /wikidata

mixin recSection(title, items)
   if items
      +section(title)
         .s1-main.grid.randomly-colored
            for item in items
               .rec
                  h3.rec-title
                     +item(item, lang='en')


block content
   .wrapper
      include /navigation
      +pageHeading('Deine Empfehlungen')
      if local.recs
         +recSection('Personen', local.recs.people)
         +recSection('Songs', local.recs.songs)
         +recSection('Bücher', local.recs.books)
         +recSection('Filme', local.recs.films)
         +recSection('Serien', local.recs.tv)
      include /footer
                     
   //- if local.likes
   //-    section.s1
   //-       header.s1-header
   //-          h2.h2 Was du magst
   //-       main.s1-main.grid.colored-cards
   //-          if local.likes.films
   //-             +listCard('Filme', local.likes.films)
   //-          if local.likes.directors
   //-             +listCard('Regie', local.likes.directors)
