extends /base
include /wikidata
include /sections
include /page_heading
include /menu

block content
   +pageHeader(true)
   .wrapper
      
      if local.wikidata_id
         +pageHeading(local.wikidata_id)
      else
         +pageHeading(local.title)

      .page-content
         main.page-main
            if local.content
               .text.spaced-paragraphs!= marked(local.content)

            if local.lists
               for list in local.lists
                  +listSection(list.items, list.title)
            
            if local.quotes
               +section('Zitate')
                  - topicQuotes = global.quotes.filter(quote => quote.topics && quote.topics.includes(local.wikidata_id))
                  for quote in topicQuotes
                     blockquote.quote
                        p.quote-content!= marked(quote.content)
                        footer.quote-footer
                           if quote.author
                              span.quote-autor 
                                 +item(quote.author)
                           if quote.author && quote.source
                              span= ', '
                           if quote.source
                              span.quote-source
                                 +item(quote.source)

            
                     
            //- +videoSection(local.videos, 'Videos')
            +listSection(local.resources, 'Ressourcen')            
            +listSection(local.films, 'Films')
            +listSection(local.songs, 'Songs')

            if local.articles
               section.s1
                  header.s1-header
                     h2.h2 Artikel
                  .s1-main
                     ul.default-list.underlined-on-hover-links
                        for article in local.articles
                           li
                              +item(article)

         aside.page-aside
            +listSection(local.concepts, 'Concepts')
            +listSection(local.people, 'People')
            if local.props
               dl.props-dl
                  for prop in local.props
                     if prop.key
                        dt= prop.key
                        dd 
                           if Array.isArray(prop.value)
                              ul
                                 for value in prop.value
                                    li
                                       +item(value)
                           else
                              +item(prop.value)
                              
                     else
                        dt
                           +label(prop)
                        dd
                           +value(local.wikidata_id, prop)
                     