---
pagetitle: Dance
---
extends /default

block content
   svg
      circle#dancer1(cx=10, cy=10, r=10)
      //- circle#dancer2(cx=280, cy=10, r=10)

block append scripts
   script(src='/scripts/dance.js')

