.arrow-link
    &::before
        content: '\2192'
        // font-family: heading-font
        // content: '->'
        margin-right: 0.3em
        // background-image: url('/images/icons/right-arrow.svg')
        display: inline-block
    &:hover
        text-decoration: underline
        
.arrow-links
    a
        @extends .arrow-link

.underlined-link
    text-decoration: underline
    &:hover
        // color: primary-color
        background: text-color
        color: white

.underlined-links
    a
        @extends .underlined-link

.color-on-hover-links
    a:hover
        color: link-color

.underline-on-hover
    &:hover
        text-decoration: underline

.underline-on-hover-links a
    @extends .underline-on-hover

.spaced-paragraphs
    p+p
        margin-top: var(--quarter-unit)

.text-section
    margin-bottom: var(--two-units)

.card
    padding: var(--unit) var(--semi-unit)
    @media(min-width: 400px)
        padding: var(--unit)
    img + p
        margin-top: var(--unit)
  
.card_nopadding
    @extend .card
    padding: 0
    
.card-section + .card-section
    margin-top: var(--semi-unit)

.card-section_fullwidth
    margin-top: calc((-1) * var(--unit))

.card-images
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: var(--semi-unit)

.grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(min-column-width, 1fr ))
    grid-column-gap: var(--unit)
    grid-row-gap: var(--unit)
    
.textplus
    @media textplus
        display: flex

.textplus-text
    margin: 0 0 var(--unit) 0
    max-width: text-width
    @media textplus
        flex: 2
        margin: 0 var(--unit) 0 0


.textplus-plus
    @media textplus
        align-self: left
        flex: 1

.plustext
    @media textplus
        display: flex

.plustext-text
    margin: var(--unit) 0 0 0
    @media textplus
        margin: 0 0 0 var(--unit)
        max-width: text-width

.plustext-plus
    align-self: left

.arrow-list
    list-style: none
    li
        display: flex
    li:before
        content: '\2192 \a0'

stacked-list(spacing = var(--semi-unit), border = 1px dotted dark)
    list-style: none
    padding: 0
    li  
        padding: spacing 0 
        border-bottom: border
        &:first-child
            border-top: border

separated-list(separator = '', spacing-left = 0.5em, spacing-right = 0.5em)
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child)
        ::after
            margin-left: spacing-left
            margin-right: spacing-right
            content: separator
    li:not(:first-child)
        margin-left: spacing

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre

highlight-list(background = dark, color = white)
    li:hover
        background: background
        color: color
        cursor: pointer
    a:hover
        color: inherit
    a
        text-decoration: none

.wrapper
    margin: 0 auto
    padding: 0 var(--unit)
    max-width: max-page-width

.full-width-wrapper
    padding: 0 var(--unit)
    @media large-padding
        padding: 0 var(--two-units)

.center-text-wrapper
    margin: 0 auto
    padding: 0 var(--unit)
    max-width: text-width

.text-wrapper
    max-width: text-width