.two-columns 
    .column:not(:first-child)
        margin: var(--unit) 0 0 0
    @media two-columns
        display: flex
        .column
            flex: 1
        .column:not(:first-child)
            margin: 0 0 0 var(--unit)

.textplus
    @media textplus
        display: flex

.textplus-text
    margin: 0 0 var(--unit) 0
    @media textplus
        flex: 2
        margin: 0 var(--unit) 0 0

.textplus-plus
    @media textplus
        align-self: left
        flex: 1

.plustext
    @media textplus
        display: flex

.plustext-text
    margin: var(--unit) 0 0 0
    @media textplus
        margin: 0 0 0 var(--unit)

.plustext-plus
    align-self: left


.discreet-links
    a
        text-decoration: underline
        &:hover
            color: primary-color

arrow-list()
    list-style: none
    li
        display: flex
    li:before
        content: '\2192 \a0'
    // li:not(:first-child)
    //     margin-top: 0.2em

stacked-list(verticalpadding = var(--semi-unit), border = 1px dotted dark)
    list-style: none
    padding: 0
    li  
        padding: verticalpadding 0 
        border-bottom: border
    li:first-child
        border-top: border

separated-list(separator = '', spacing = 10px)
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child)
        ::after
            margin-left: spacing
            content: separator
    li:not(:first-child)
        margin-left: spacing

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre

highlight-list(background = dark, color = white)
    li:hover
        background: background
        color: color
        cursor: pointer
    a:hover
        color: inherit
    a
        text-decoration: none

.wrapper
    margin: 0 auto
    padding: 0 var(--unit)
    max-width: maxPageWidth

.full-width-wrapper
    padding: 0 var(--semi-unit)
    @media large-padding
        padding: 0 var(--two-units)


.center-text-wrapper
    margin: 0 auto
    padding: 0 var(--unit)
    max-width: textWidth

.text-wrapper
    max-width: textWidth