body
    min-height: 100%

footer
    font-size: var(--s)
    background: footerBackground
    color: footerColor
    padding: var(--unit) 0
    margin-top: calc(3*var(--unit))
    border-top: 1px dotted dark

.image-column
    img
        margin-bottom: var(--semi-unit)

.page-header
.stacked-list
    @extends .unmarked-links

.page-heading
    margin-top: var(--three-units)
    margin-bottom: var(--three-units)

.indent
    text-indent: 50px

.spaced-paragraphs
    p + p
        margin-top: var(--semi-unit)


// page header

#desktop-nav
    @media mobile-nav
        display: none

#page-header 
    a
        text-decoration: none
    padding-top: var(--semi-unit)
    padding-bottom: var(--semi-unit)
    @media desktop-nav
        border-bottom: 1px dotted dark
    display: flex
    justify-content: flex-end
    @media desktop-nav
        justify-content: center
    .logo
        margin-right: var(--semi-unit)
        @media mobile-nav
            display: none

.hamburger
    height: var(--unit)
    @media desktop-nav
        display: none

#mobile-nav
    display: none
    lined-list(1px solid white)
    position: absolute
    top: 0
    height: 100vh
    width: 100vw
    background: primary-color
    z-index: 1
    left: 0
    font-family heading-font
    color: white
    font-size: var(--xxl)
    text-transform: uppercase
    text-align: center
    li:hover
        background: white
        color: primary-color


// homepage

#site-title
    border-bottom: none
    font-weight: 300
    line-height: 1
    text-align: center
    
#title
    font-size: var(--xl)
    text-transform: uppercase


#subtitle
    font-size: var(--xxl)
    text-transform: uppercase
    color: primary-color

#intro
    margin-bottom: var(--three-units)
    @extend .spaced-paragraphs
    section+section
        margin-top: var(--unit)
    h2
        margin-bottom: var(--semi-unit)
    ul 
        @extends .arrow-list
    

// text

#text
    h2
        margin-bottom: var(--unit)

#text-list
    lined-list(border=1px dotted soft-border-color)
    li
        padding: var(--semi-unit) var(--semi-unit)
    @extends .highlight-list
    li:first-child
        display:none
    li:nth-child(2)   
        border-top: 1px dotted soft-border-color
    .text-title
        font-size: var(--l)
        font-family: body-font
        font-weight: normal
        text-transform: none

#performance-list
    lined-list(1px dotted soft-border-color)
    p 
        margin: 0
    li 
        display: flex
        time
            flex: 1
        p 
            flex: 2

.text
    margin-top: var(--three-units)
    h1
        font-family: body-font
        font-weight: normal
        font-size: var(--xl)
        text-transform: none
        margin-bottom: var(--two-units)
    h2
        font-family: inherit
        font-size: var(--m)
        font-weight: normal
        text-transform: uppercase
        margin-top: 0
        margin-bottom: var(--semi-unit)

.spaced
    p:not(:last-of-type)
        margin-bottom: calc(0.5*var(--unit-2))

.bigspaces
    p:not(:last-of-type)
        margin-bottom: var(--unit-2)

.dialogue
    
    p
        text-indent: 0
    
    em
        margin-top: 20px


// grafik

.lb-caption
    font-size: var(--s) !important
    font-family: heading-font !important
    font-weight: normal !important
    color: white !important

.lb-dataContainer
    margin-top: 8px !important

.masonry-item
    margin-bottom: 33px
    width: 100%
    @media (min-width: 400px)
        width: calc(0.5 * (100% - 33px))
    @media (min-width: 700px)
        width: calc(0.33333 * (100% - 2 * 33px))
    figcaption
        margin-top: var(--semi-unit)
        padding: 0.2em
        border-top: 2px solid dark
        border-bottom: @border-top
        font-family: heading-font
        font-size: var(--s)
        // text-transform: uppercase
        font-weight: 600


// shop

#shop
    background-color: white

#spreadshirt-shop
    margin-top: var(--two-units)
    *
        font-family: body-font
        font-size: var(--m)

#filterBar
    *
        font-size: var(--s)
    .sprd-Item
        border-bottom: 1px dotted dark
    .sprd-Label
        line-height: 1.3
        padding: 10px 0

.sprd-price
        *
            font-size:var(--s)

#grossgedrucktes
    margin-top: var(--two-units)
    font-size: var(--l)

 
// about

#about
    @extends .spaced-paragraphs
    section
        margin-bottom: var(--two-units)
    h2
        margin-bottom: var(--unit)

    h3
        margin: var(--unit) 0 var(--semi-unit) 0
        text-transform: uppercase
    ul
        margin: 0

