body
    min-height: 100%

footer
    font-size: var(--s)
    background: footerBackground
    color: footerColor
    padding: var(--unit) 0
    margin-top: var(--three-units)
    border-top: 1px dotted dark

.button
    font-family: body-font
    font-size: var(--m)
    background: inherit
    border: 1px solid dark
    border-radius: 0.2em
    padding: 0.2em 0.8em
    cursor: pointer
    &:hover
        background: dark
        color: light-background-color

.card
    .button-wrapper
        display: flex 
        padding-top: var(--unit)

.page-heading
    margin-top: var(--five-units)
    margin-bottom: var(--four-units)
    text-align: center
    @media big-heading
        margin-top: var(--seven-units)
        margin-bottom: var(--six-units)


.page-title
    font-family: heading-font
    font-size: var(--xxxl)
    @media big-mobile
        font-size: var(--xxxxl)
    @media big-heading
        font-size: var(--xxxxxxl)
    line-height: heading-line-height
    text-transform: uppercase

.page-subtitle
    margin-top: var(--two-units)

.desktop-page-header
    @extends .color-on-hover-links
    line-height: var(--unit)
    vertical-align: bottom 
    padding: var(--semi-unit) 0
    // border-bottom: 2px solid dark
    font-family: heading-font
    text-transform: uppercase
    display: flex
    justify-content: space-between
    @media mobile-nav
        display: none
    .logo
        font-family: heading-font
        // font-size: var(--s)

.mobile-page-header
    @media desktop-nav
        display: none
    font-family: heading-font
    font-size: var(--s)
    padding: var(--semi-unit) 0 
    border-bottom: 2px solid dark
    display: flex
    justify-content: center

.open-nav
    cursor: pointer
    
.hamburger
    height: var(--two-units)
    fill: none
    stroke-width: 0.5
    stroke: dark
    cursor: pointer

.desktop-nav
    ul
        separated-list()

.mobile-nav
    display: none
    stacked-list(border: none, verticalpadding: 0px)
    position: fixed
    top: 0
    height: 100vh
    width: 100vw
    background: primary-color
    z-index: 1
    left: 0
    font-family heading-font
    color: white
    text-align: center
    li
        line-height: 1
        font-size: var(--xxxl)
    li:hover
        background: white
        color: primary-color
    .close
        margin: var(--two-units) 0 var(--unit) 0 
        stroke: white
        stroke-width: 6
        height: var(--unit)
        cursor: pointer

.page-intro
    margin-bottom: var(--two-units)
    @extend .spaced-paragraphs
    section+section
        margin-top: var(--unit)
    h2
        margin-bottom: var(--semi-unit)
        @extend .h2
    ul 
        arrow-list()
    ul+p
        margin-top: var(--semi-unit) 

// homepage

#home-page
    .page-heading
        font-family: heading-font
        font-weight: 700
        text-transform: uppercase
    .page-subtitle  
        separated-list(separator: '/', spacing-left: 0.2em, spacing-right: 0.2em) 
        a:hover
            color: primary-color
        font-size: var(--xl)
        @media big-heading
            font-size: var(--xl)
    .page-title
        line-height: 0.7
        font-size: var(--xxl)
        @media big-heading
            font-size: var(--xxxxl)        
    main
        @extends .underline-on-hover-links

// text

.text-nav
    ul
        separated-list('•')
        margin-top: var(--unit)

.text-list
    stacked-list(border=1px dotted soft-border-color)
    highlight-list()
    li
        padding: var(--semi-unit) var(--semi-unit)
        &:nth-child(2)   
            border-top: 1px dotted soft-border-color
        &:nth-child(n+4)
            display: none
    .text-title
        font-size: var(--l)
        font-family: body-font
        font-weight: normal
        text-transform: none
        margin-bottom: 0.4em
    p
        line-height: 1.2

.performance-list
    stacked-list(border: 1px dotted soft-border-color)
    p 
        margin: 0
    li 
        display: flex
        time
            margin-right: var(--unit)

.text
    margin-top: var(--three-units)
    h2
        font-family: inherit
        font-size: var(--m)
        font-weight: normal
        text-transform: uppercase
        margin-top: 0
        margin-bottom: var(--semi-unit)
    .text-title
        font-size: var(--xxl)
        margin-bottom: var(--two-units)
        line-height: 1.3

.text.listofshorts
    margin-left: auto
    margin-right: auto
    max-width: 400px 
    .text-title
        text-align: center
    ul
        list-style: none
    li
        padding: var(--two-units) 0
        border-bottom: 1px solid dark
    li:first-child
        padding-top 0
    p
        font-size: var(--xl)
        line-height: 1.3
        font-family: 'EB Garamond'
        font-style: italic
        text-align: center

.spaced
    p:not(:last-of-type)
        margin-bottom: calc(0.5*var(--unit-2))

.bigspaces
    p:not(:last-of-type)
        margin-bottom: var(--unit-2)

.dialogue 
    p
        text-indent: 0
    em
        margin-top: 20px

// web

#sites
    @extends .grid

.site
    background: light-overlay-color
    figcaption
        padding: var(--unit) var(--semi-unit)
        h2
            font-family: heading-font
        ul
            separated-list(',', padding-left=0)

// grafik

.lb-caption
    font-size: var(--m) !important
    font-family: body-font !important
    font-weight: normal !important
    color: white !important
    letter-spacing: 0.1em
    text-transform: uppercase

.lb-dataContainer
    margin-top: 8px !important

.masonry-item
    margin-bottom: 33px
    width: 100%
    @media (min-width: 400px)
        width: calc(0.5 * (100% - 33px))
    @media (min-width: 700px)
        width: calc(0.33333 * (100% - 2 * 33px))
    figcaption
        margin-top: var(--semi-unit)
        padding: 0.2em
        border-top: 2px solid dark
        border-bottom: @border-top
        font-family: heading-font
        font-size: var(--s)
        font-weight: 600

// shop

#shop-intro
    margin: 0 auto

#shop
    background-color: white

#spreadshirt-shop
    margin-top: var(--two-units)
    *
        font-family: body-font
        font-size: var(--m)

#filterBar
    *
        font-size: var(--s)
    .sprd-Item
        border-bottom: 1px dotted dark
    .sprd-Label
        line-height: 1.3
        padding: 10px 0

.sprd-price
        *
            font-size:var(--s)

#grossgedrucktes
    margin-top: var(--two-units)
    font-size: var(--l)

// about

#about-page
    main
        @extends .spaced-paragraphs
        .textplus
            margin-bottom: var(--two-units)
        h2
            @extends .h2
        h3
            @extends .h3
        ul
            margin: 0
            stacked-list(spacing: 0)

#nureinwort-page
    .images
        @media two-columns
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-column-gap: var(--unit)
            grid-row-gap: var(--unit)
        img
            border: 1px solid  lightgray 


// inspiration

#inspiration-page
    .card
        ul
            stacked-list()

.lyrics
    margin-bottom: var(--two-units)
    stacked-list(border: 1px solid black, spacing: var(--unit))

.lyrics-text
    font-family: heading-font
    font-size: var(--xl)
    line-height: heading-line-height
    margin-bottom: var(--quarter-unit)