html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

html
    background: baseBackground
    height: 100%

body
    color: baseColor

img, video
    max-width: 100%

canvas, img
    vertical-align: middle

button
    border: 1px solid buttonColor 
    color: buttonColor
    border-radius: 2em
    cursor: pointer
    text-transform: uppercase
    padding: 0.5em 1em
    &:hover
        background-color: buttonColor
        color: white

.container
    margin: 0 auto
    padding: 0 20px
    max-width: maxPageWidth

.hidden
    display: none






