#page-construction
    height: 100vh
    margin-top: var(--unit)
    background: light-grey
    display: flex
    align-items: center
    svg
        height: 60vh

.page-construction-form
    div
        padding: var(--unit) 0
        display: flex
        justify-content: space-between
        border-bottom: 1px dotted dark
        &:first-child
            border-top: 1px dotted dark
    input
        font-size: inherit
        font-family: inherit
        width: 60px
        padding: 5px 0
        text-align: right
    label
        margin-right: 20px
        &:after
            content: ':'
    button
        margin-top: var(--unit)

.proportion

    &:nth-child(2n) 
        background: light-grey
    display: flex 
    flex-direction: column
    height: 100vh
    padding: 0 var(--unit) calc(2 * var(--unit)) var(--unit)

    .image-container
        flex-grow: 1
        display: flex
        justify-content: center
        align-items: center


    svg
        height: 50vh
        rect
            fill: dark

    // figure 
    //     display: flex
    //     justify-content: center
    //     align-items: center
    //     height: 80vh

    
    figcaption
        border-top: 1px solid dark
        border-bottom: @border-top
        padding: calc(0.5 * var(--unit))
        display: flex
        align-items: center
        justify-content: space-between
        *
            margin: 0