
    


.page-header
    padding:var(--unit) 0
    background: pageHeaderBackground
    color: pageHeaderColor

.unmarked-links
    a
        text-decoration: none

.arrow-list
    list-style: none
    li:before
        content: '\2192 \a0'

.stacked-list
    list-style: none
    padding: 0
    li  
        padding: calc(0.5 * var(--unit)) 0 
        border-bottom: 1px solid softBorderColor
    li:first-child
        border-top: 1px solid softBorderColor

.separated-list
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child):after
        content: ' / '

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre