.equal-columns 
    .column:not(:first-child)
        margin: calc(2*var(--unit)) 0 0 0
    @media bigScreen
        display: flex
        .column
            flex: 1
        .column:not(:first-child)
            margin: 0 0 0 calc(2*var(--unit))

.textplus
    @media textplus
        display: flex

.textplus-text
    margin: 0 0 var(--unit) 0
    @media textplus
        flex: 2
        margin: 0 var(--unit) 0 0

.textplus-plus
    @media textplus
        align-self: left
        flex: 1

.plustext
    @media textplus
        display: flex

.plustext-text
    margin: var(--unit) 0 0 0
    @media textplus
        margin: 0 0 0 var(--unit)

.plustext-plus
    align-self: left

.page-header
    background-color: page-header-background-color
    color: page-header-text-color

.colored
    color: primaryColor

.unmarked-links
    a
        text-decoration: none

.arrow-list
    list-style: none
    li:before
        content: '\2192 \a0'

.stacked-list
    list-style: none
    padding: 0
    li  
        padding: calc(0.5 * var(--unit)) 0 
        padding-left: 10px
        border-bottom: 1px solid soft-border-color
    li:first-child
        border-top: 1px solid soft-border-color

.separated-list
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child)
        ::after
            margin-left: separated-list-margin
            content: list-separator
    li:not(:first-child)
        margin-left: separated-list-margin

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre

.highlight-list
    li:hover
        background-color: dark
        color: white
        cursor: pointer
    a:hover
        color: inherit

.container
    margin: 0 auto
    padding: 0 20px
    max-width: maxPageWidth

.text-container
    margin: 0 auto
    padding: 0 20px
    max-width: textWidth