.graphic
    display: flex
    flex-direction: column
    @media bigScreen
        flex-direction: row

    &__image-box
        flex-grow: 2
        display: flex
        justify-content: center
        align-items: center
        @media bigScreen
            max-width: 67%
    &__image
        max-width: 66%
        max-height: 66%
        width: 300px   

    &__description
        flex-grow: 1
        justify-content: center
        align-item: center
        @media bigScreen
            display: flex
            flex-direction: column
            text-align: center
    &__title
        font-weight: normal
        // margin: 0
        @media bigScreen
            font-size: var(--xxl) 
    
.graphic:nth-child(2n)
    .graphic__image-box
        @media bigScreen
            order: 2

.page-header
    padding:var(--unit) 0
    background: pageHeaderBackground
    color: pageHeaderColor

.unmarked-links
    a
        text-decoration: none

.arrow-list
    list-style: none
    li:before
        content: '\2192 \a0'

.stacked-list
    list-style: none
    padding: 0
    li  
        padding: calc(0.5 * var(--unit)) 0 
        border-bottom: 1px solid softBorderColor
    li:first-child
        border-top: 1px solid softBorderColor

.separated-list
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child):after
        content: ' / '

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre