.page-header
.homepage-nav
.stacked-list
    @extends .unmarked-links

.site-title  
    p
        line-height: var(--unit)
        font-size: var(--l)
        color: primaryColor
        margin: 0

.site-title
.page-heading
    text-transform: uppercase
    margin-top: calc(2*var(--unit))
    margin-bottom: calc(2*var(--unit))

.contact
    margin-top: calc(2*var(--unit))


#performance-list
    li 
        display: flex
        justify-content: space-between

#about
    h2
        margin-top: calc(2*var(--unit))

.text
    margin-top: calc(2*var(--unit2))
    h1
        line-height: calc(2*var(--unit2))
        margin-bottom: calc(2*var(--unit2))
        text-transform: uppercase
        color: primaryColor
        font-size: var(--xl)
    h2
        line-height:var(--unit2)
        margin-top: 0
        border-bottom: 1px dotted dark
        display: inline-block
        font-size: var(--l)
    p 
        line-height: var(--line-height-2)
        font-family: 'Noto Serif'
    
.text.justify
    p 
        text-align: justify



#text-list
    margin-bottom: calc(2*var(--unit))
    li:first-child
        display:none
    li:nth-child(2)   
        border-top: 1px solid softBorderColor
    h2
        margin: 0
        font-weight: normal

.fullscreen
    min-height: 105vh
    height: 105vh

