

.page-header
.homepage-nav
.stacked-list
    @extends .unmarked-links

.site-title  
    p
        line-height: var(--unit)
        font-size: var(--l)
        color: primaryColor
        margin: 0

.site-title
.page-heading
    text-transform: uppercase
    margin-top: calc(2*var(--unit))
    margin-bottom: calc(2*var(--unit))

.current-link
    color: primaryColor

.intro
    p 
        margin-bottom: 0
    margin-bottom: calc(2*var(--unit))

.contact
    margin-top: calc(2*var(--unit))


#performance-list
    li 
        display: flex
        justify-content: space-between

#about
    h2
        margin-top: calc(2*var(--unit))

.text
    margin-top: calc(2*var(--unit2))
    h1
        line-height: calc(2*var(--unit2))
        margin-bottom: calc(2*var(--unit2))
        text-transform: uppercase
        color: primaryColor
        font-size: var(--xl)
    h2
        line-height:var(--unit2)
        margin-top: 0
        border-bottom: 1px dotted dark
        display: inline-block
        font-size: var(--l)
    p 
        font-size: var(--font-size-2)
        line-height: var(--line-height-2)
        font-family: 'Noto Serif'
    
.text.justify
    p 
        text-align: justify
.text.dialogue
    em
        margin-top: 20px
    // p 
    //     line-height: calc(2*var(--line-height-2))

#text-list
    margin-bottom: calc(2*var(--unit))
    li:first-child
        display:none
    li:nth-child(2)   
        border-top: 1px solid softBorderColor
    h2
        margin: 0
        font-weight: normal

.fullscreen
    min-height: 105vh
    height: 105vh

.item-box
    display: flex
    flex-direction: column

.logo-box
    flex-grow: 2
    display: flex
    justify-content: center
    align-items: center
 
.logo
    max-width: 66%
    max-height: 66%
    width: 300px   

.text-box
    flex-grow: 1
    display: flex
    justify-content: center
    align-item: center
    
.item-title
    font-weight: normal
    margin: 0