.grid-item
    width: 300px
    h2
        font-size: var(--m)


// .graphics
//     flex-wrap: wrap
//     padding: var(--unit)
//     display: flex
//     @media bigScreen
//         // padding: var(--unit) 0
//         display: flex
//         align-content: space-around

// .graphic
//     display: flex
//     flex-direction: column
//     width: 100%
//     @media bigScreen
//         // width: calc( (100vw - 4*var(--unit)) / 3 ) 
//         width: calc(7 * var(--unit))
//         margin-right: var(--unit)
      
//     .no-background
//         background: light-grey

//     .image-container
//         height: calc(1.5 * (100vw - 2*var(--unit)))
        
//         display: flex
//         justify-content: center
//         align-items: center
//         padding: calc(2*var(--unit))
//         padding-bottom: 100px
//         @media bigScreen
//             // height: calc(1.5 * (100vw - 4*var(--unit)) / 3 )
//             height: calc(1.5 * 7 * var(--unit))
//             padding: 10%

//     img
//         width: 100%   

//     figcaption
//         margin-bottom: var(--unit)
//         padding: var(--unit) 0
//         h2
//             margin: 0
//             font-size: var(--m)
             