:root
    --m: var(--base-font-size)
    --l: calc(var(--scale-factor) * var(--m))
    --xl: calc(var(--scale-factor) * var(--l))
    --xxl: calc(var(--scale-factor) * var(--xl))
    --xxxl: calc(var(--scale-factor) * var(--xxl))
    --xxxxl: calc(var(--scale-factor) * var(--xxxl))
    --xxxxxl: calc(var(--scale-factor) * var(--xxxxl))
    --s: calc(var(--m) / var(--scale-factor))
    --xs: calc(var(--s) / var(--scale-factor))

body
    color: text-color
    font-size: var(--m)
    font-family: bodyFont
    line-height: var(--base-line-height)
    text-rendering: geometricPrecision

h1, h2, h3, h4
    font-family: headerFont

h1
    font-size: var(--xl)
    font-weight: 900
    text-transform: uppercase
    line-height: 0.9

h2 
    font-size: var(--l)
    line-height: 1
    font-weight: 900
    text-transform: uppercase

h3
    font-size: var(--m)
    line-height: var(--unit)
    margin-bottom: var(--unit)

// p, ul, ol, dl
//     margin-bottom: var(--unit)

p
    hyphens: auto

a
    color: inherit
    text-decoration: underline
    &:hover
        cursor: pointer
        color: primaryColor
