//
// breakpoints
//
textplus = '(min-width: 980px)'
bigScreen = '(min-width: 40em)'

//
// typography
//

bodyFont = Inconsolata
headerFont = 'Libre Franklin'
textWidth = 800px

:root
    --base-line-height: 1.4
   
    --scale-factor: 1.2
    --base-font-size: 19px
    @media bigScreen
        --base-font-size: 22px
    --unit: calc(var(--base-line-height) * var(--base-font-size))
    
    --line-height-2: 1.6
    --font-size-2: 19px
    @media bigScreen
        --font-size-2: 22px
    --unit2: calc(var(--line-height-2) * var(--font-size-2))

//
// colors
//
dark = rgba(0,0,0,0.87)
light-grey = #f7f7f7
middle-grey = #e8e6e6
baseBackground = #EAEEEF //#FEFDCA //#fdfd77 //#F0F9F4 //light-grey //#eff6fb
textColor = dark
buttonColor = dark
softBorderColor = grey
pageHeaderBackground = dark
footerBackground = inherit
pageHeaderColor = baseBackground
primaryColor =  #DB222A //#AAB1B3  //#f71e3d //#fd463e  // pink #F3007A

//
// misc
//
baseBorder = 1px solid baseColor
maxPageWidth = 1000px
