//
// typography
//
baseFontSize = 19px
baseLineHeight = 1.4
scaleFactor = 1.2
sansFont = Lato, sans-serif
serifFont = Merriweather, serif
bodyFont = Inconsolata
headerFont = Inconsolata
unit = baseLineHeight * baseFontSize

lineHeight2 = 1.5
unit2 = lineHeight2 * baseFontSize

//
// breakpoints
//
bigScreen = '(min-width: 40em)'

//
// colors
//
dark = rgba(0,0,0,0.87)
baseBackground = white
textColor = dark
buttonColor = dark
softBorderColor = grey
pageHeaderBackground = dark
pageHeaderColor = white
primaryColor = #ff43da

//
// misc
//
baseBorder = 1px solid baseColor
maxPageWidth = 700px
