//
// breakpoints
//
bigScreen = '(min-width: 40em)'

//
// typography
//

bodyFont = Inconsolata
headerFont = Inconsolata

:root
    --base-line-height: 1.4
   
    --scale-factor: 1.2
    --base-font-size: 19px
    @media bigScreen
        --base-font-size: 22px
    --unit: calc(var(--base-line-height) * var(--base-font-size))
    
    --line-height-2: 1.5
    --font-size-2: 19px
    @media bigScreen
        --font-size-2: 22px
    --unit2: calc(var(--line-height-2) * var(--font-size-2))

//
// colors
//
dark = rgba(0,0,0,0.87)
light-grey = #f7f7f7
baseBackground = white
textColor = dark
buttonColor = dark
softBorderColor = grey
pageHeaderBackground = light-grey
pageHeaderColor = dark
primaryColor = #F3007A

//
// misc
//
baseBorder = 1px solid baseColor
maxPageWidth = 700px
