extends ../_base

block title
   title= title + ' – Dominic Looser'

block head
   link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700")

block content
   header.page-header
      .text-container
         include ../_includes/navigation
   .text-container
      article(class='text' class={justify: justify}, class={dialogue:dialogue}, class={spaced:spaced}, class={bigspaces:bigspaces})
         != yield
      include ../_includes/footer
