extends ../_default

block title
   title Text – Dominic Looser

block content
   h1.page-heading Text
   .equal-columns
      #performances.column
         h2 Auftritte
         ul#performance-list.stacked-list
            for p in performances
               li 
                  time= p.date 
                  p #{p.title}, #{p.place} 
      .column
         h2 Texte
         ul.stacked-list#text-list
            for text, slug in public.text._data
               li: a(href='text/'+slug)= text.title
                     