extends ../_base

block content
   .container
      header.page-title
         h1 Text
      ul.stacked-list#text-list
         for text, slug in public.text._data
            li: h2: a(href='text/'+slug)= text.title
